.hero {
  max-width: 130rem;
  padding: 0 4.8rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15rem;
  align-items: center;
}

.primaryHeading {
  margin-bottom: 2.4rem;
  font-size: 4rem;
  font-weight: 700;
  color: var(--secondary-text-color);
  text-transform: capitalize;
}

.heroDescription {
  margin-bottom: 4.8rem;
  font-size: 2rem;
  line-height: 1.5;
}

.heroBtn {
  margin-bottom: 4.2rem;
}

.downloadLinks {
  display: flex;
  gap: 1.7rem;
}

.downloadLinks svg {
  transition: all ease-in-out 400ms;
}

.downloadLinks .ios {
  width: 100%;
  height: 4rem;
}

.downloadLinks .android {
  width: 100%;
  height: 4rem;
}

.downloadLinks svg:hover {
  transform: scale(1.06);
}

.heroImg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroImg img {
  width: 100%;
  filter: drop-shadow(0 0 5px #333);
  /* transform: rotate(-20deg) translateY(-30px); */
}

.hero.sticky {
  margin-top: 9.6rem;
}

/**************************/
/* media queries */
/**************************/

/* BL 1344px */
@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }
}

/* BL 1200px */
@media (max-width: 75em) {
  .hero {
    padding: 0 3.2rem;
    gap: 10rem;
  }
}

/* BL 944px */
@media (max-width: 59em) {
  .hero {
    grid-template-columns: 1fr;
    gap: 7rem;
  }

  .heroText {
    text-align: center;
  }

  .primaryHeading {
    font-size: 5rem;
    margin-bottom: 3rem;
  }

  .heroDescription {
    font-size: 2.25rem;
    margin-bottom: 5.5rem;
  }

  .downloadLinks {
    justify-content: center;
  }

  .heroImg img {
    width: 70%;
  }
}

/* BL 769px */
@media (max-width: 48em) {
  .heroImg img {
    width: 85%;
  }
}

/* BL 544px */
@media (max-width: 34em) {
  .heroImg img {
    width: 90%;
  }
}
