.cta {
  background-image: linear-gradient(90deg, #3b5041, rgba(59, 80, 65, 0.37)),
    url('../../assets/money_jar3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  display: flex;
  align-items: center;
  height: 50rem;
  padding: 5rem;
}

.ctaText {
  padding: 5rem;
}

.cta p {
  font-size: 2rem;
  color: var(--white-color);
  margin-top: 3rem;
}

.ctaBtns {
  margin-top: 3.5rem;
  display: flex;
  gap: 1.5rem;
}

/**************************/
/* media queries */
/**************************/

/* BL 544px */
@media (max-width: 34em) {
  .ctaText {
    padding: 0;
  }
}
