.footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  line-height: 1.5;
  gap: 3rem;
}

.brand:link,
.brand:visited {
  text-decoration: none;
  color: var(--secondary-text-color);
  text-transform: capitalize;
  font-family: 'Pacifico', cursive;
  font-size: 3.9rem;
  font-weight: 600;
  align-self: start;
  transition: all 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.brand:active,
.brand:hover {
  color: var(--primary-color);
}

.column1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding: 1.3rem; */
}

.footer h3 {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: capitalize;
}

.products,
.company,
.legal,
.contact {
  display: flex;
  flex-direction: column;
  gap: 1.85rem;
  padding: 1.3rem;
}

.link:link,
.link:visited {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--primary-text-color);
}

.link:hover,
.link:active {
  color: var(--secondary-color);
}

.socials {
  display: flex;
  gap: 1.7rem;
}

.socials a ion-icon {
  color: var(--secondary-text-color);
  font-size: 3.1rem;
  transition: all 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.socials a ion-icon:hover {
  color: var(--primary-color);
}

.copy {
  font-size: 1.5rem;
  color: var(--primary-text-color);
  margin-top: 5rem;
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 5rem;
}

.subscribe p,
.column1 p {
  font-size: 1.5rem;
}

.subscribe input {
  margin-top: 1.5rem;
  padding: 1.5rem;
  border-radius: 5px;
  border: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  background: var(--bg-color);
  width: 30rem;
  font-family: inherit;
}

.subscribe input:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem var(--primary-color);
}

/**************************/
/* media queries */
/**************************/

/* BL 944px */
@media (max-width: 59em) {
  .footer {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 7rem;
  }
}

/* BL 769px */
/* @media (max-width: 48em) {
  .footer {
    grid-template-columns: repeat(2, 1fr);
  }
} */

/* BL 544px */
@media (max-width: 34em) {
  .footer {
    grid-template-columns: repeat(2, 1fr);
  }
}
