.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.brand:link,
.brand:visited {
  text-decoration: none;
  color: var(--secondary-text-color);
  text-transform: capitalize;
  font-family: 'Pacifico', cursive;
  font-size: 3.9rem;
  font-weight: 600;
  align-self: start;
  transition: all 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.brand:active,
.brand:hover {
  color: var(--primary-color);
}

.footer h3 {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: capitalize;
}

.products,
.company,
.legal,
.contact {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}

.link:link,
.link:visited {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--primary-text-color);
}

.link:hover,
.link:active {
  color: var(--secondary-color);
}

.socials {
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
}

.socials a ion-icon {
  color: var(--secondary-text-color);
  font-size: 3.1rem;
  transition: all 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.socials a ion-icon:hover {
  transform: translateY(-3px);
}

.contact {
  text-align: right;
}

.copy {
  font-size: 1.5rem;
  color: var(--primary-text-color);
  margin-top: 5rem;
  display: flex;
  justify-content: flex-end;
}
