:root {
  --primary-color: #55725d;
  --secondary-color: #8cb27f;
  --primary-text-color: #555;
  --secondary-text-color: #333;
  --bg-color: #dde3df;
  --btn-hover-color: #3b5041;
  --white-color: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html {
  /*  10px / 16px  */
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--primary-text-color);
  line-height: 1;
  overflow-x: hidden;
}

li {
  list-style-type: none;
}

.container {
  max-width: 125rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

/**************************/
/* media queries */
/**************************/

/* BL 1344px */
@media (max-width: 84em) {
}

/* BL 1200px */
@media (max-width: 75em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }
}

/* BL 944px */
@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }
}

/* BL 769px */

@media (max-width: 48em) {
}

/* BL 544px */

@media (max-width: 34em) {
}
