.hero {
  background: var(--bg-color);
  padding: 15.5rem 0;
}

.statement {
  padding: 10.8rem 0;
  position: relative;
}

.brand {
  display: inline-block;
  position: absolute;
  left: 3%;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
  color: #d6d6d6;
  text-transform: capitalize;
  font-family: 'Pacifico', cursive;
  font-size: 3.9rem;
  font-weight: 600;
  /* transform:; */
}

.howItWorks {
  background: var(--bg-color);
  padding: 12.8rem 0;
}

.features {
  padding: 10.8rem 0;
}

.cta {
  padding: 9.6rem 0;
}

.footer {
  padding: 9.8rem;
  border-top: 1px solid #eee;
}
