.hero {
  background: var(--bg-color);
  padding: 15.5rem 0;
  height: 100vh;
}

.statement {
  padding: 10.8rem 12.2rem;
}

.howItWorks {
  background: var(--bg-color);
  padding: 12.8rem 0;
}

.features {
  padding-top: 10rem;
}

.cta {
  padding: 9.6rem 0;
}

.footer {
  padding: 9.8rem 0;
  border-top: 1px solid #eee;
}

/**************************/
/* media queries */
/**************************/
/* BL 1344px */
@media (max-width: 84em) {
}

/* BL 944px */
@media (max-width: 59em) {
}

/* BL 769px */
@media (max-width: 48em) {
  .statement {
    padding: 10.8rem 6.4rem;
  }
}

/* BL 544px */
@media (max-width: 34em) {
  .statement {
    padding: 10.8rem 3.2rem;
  }
}
